.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-block {
    width: 400px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 40px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}

.mdl-ftr-btn {
    padding: 6px 15px;
    background-color: rgb(84, 84, 163);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

